/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 oct. 2016, 22:51:49
    Author     : passpass
*/



/* Page and overlay */

.ui-page-theme-a
{
	background-image: url("fond.jpg");
       
}

.ui-grid-a > .ui-block-a, .ui-grid-a > .ui-block-b {
    width: 15vw !important;
    display:block !important;
}



.manav{
  margin:5px !important;
  border-radius:8px;
  font-size:17px !important;
  background-color: rgba(1,1,1,0.5) !important;
  text-shadow: 1px 3px 3px black !important;
  color:white !important;
  font-weight: 100 !important;
}

.manav:hover{

  background-color: rgba(1,1,1,0.6) !important;
  color:lightskyblue !important;
  font-weight: 200 !important;
}

.bigtitle{
    color: black !important;
   
}

.mysubtitle{
    color:white; 
    margin-top:5%;
    background-color:rgba(1,1,1,0.4); 
    border-radius:8px 8px 0px 0px;
    
}
#footer-wrapper{
    width:63%; 
    padding-left:2vw !important;
    border-radius:8px; 
    margin:2% 18%;
    margin-bottom:5%;
    box-shadow: 7px 6px 7px 6px #98CFE4;
}

#header-wrapper{
  
    
}
