/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 oct. 2016, 22:51:49
    Author     : passpass
*/

/* Page and overlay */
.myerror{

    color:#111;
    background-color:rgba(255, 0, 0, 0.6);
    border-radius:18px;
    font-size:18px;
    text-shadow:none;
    padding:8px;
    font-weight:500;
    
    
}

.ui-page-theme-a
{
	background-image: url("fond.jpg");
       
}

.ui-grid-a > .ui-block-a, .ui-grid-a > .ui-block-b {
    width: 15vw !important;
    display:inline-block !important;
    float:none;
}

#manavnavbar{
     position:absolute;
     top:10px; 
     width:100vw; 
}


.manav{
  margin:5px !important;
  border-radius:8px;
  font-size:0.75vw !important;
  background-color: rgba(1,1,1,0.7) !important;
  text-shadow: 1px 3px 3px black !important;
  color:white !important;
  font-weight: 100 !important;
  border:2px solid black !important;

}

.manav:hover{

  background-color: rgba(1,1,1,1) !important;
  color:lightskyblue !important;
  font-weight: 200 !important;
  color:white !important;
}

.bigtitle{
    color: black !important;
   
}

.mysubtitle{
    color:white; 
    margin-top:7.5%;
    background-color:rgba(1,1,1,0.6); 
    border-radius:8px 8px 0px 0px;
    height:70px; 
    font-size:17px;
    padding:15px;
   text-align:center;
}



#footer-wrapper{
    width:63%; 
    padding-left:2vw !important;
    border-radius:8px; 
    margin:2% 18%;
    margin-bottom:5%;
    box-shadow: 7px 6px 7px 6px #98CFE4;
}

#header-wrapper{
  
    
}

#password, 
#fos_user_registration_form_email,
#fos_user_registration_form_plainPassword_first, 
#fos_user_registration_form_plainPassword_second,
#fos_user_profile_form_email,
#fos_user_profile_form_current_password{
    
     background: #e8e8e8 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1) inset;
    display: block;
    line-height: 1.25em;
    padding: 0.75em 1em;
    transition: background-color 0.25s ease-in-out 0s;
    width: 100%;
}

#password:hover,
#fos_user_registration_form_email:hover,
#fos_user_registration_form_plainPassword_first:hover,
#fos_user_registration_form_plainPassword_second:hover,
#fos_user_profile_form_email:hover,
#fos_user_profile_form_current_password:hover,
#fos_user_profile_form_username:hover,
#fos_user_registration_form_typecompte:hover{
        background: #fff;
}

#password:active,
#fos_user_registration_form_email:active,
#fos_user_registration_form_plainPassword_first:active,
#fos_user_registration_form_plainPassword_second:active,
#fos_user_registration_form_username:hover,
#fos_user_registration_form_pseudo:hover,
#username:hover,
#fos_user_profile_form_email:active,
#fos_user_profile_form_current_password:active{
        background: #fff;
}


.formulairetop{
    text-align:center;top:155px; position:absolute; width:60%; left:20vw;
}

.inputformtop{
    
    width:50% ; margin-left:25%; text-align:center;
}

#logo{
    background-color:rgba(255,255,255,0.3);   
}

#monico:hover{
    height:8vw !important;
    width:8vw !important;
    top:7vw !important;
}


.monform{
    
    margin-top: -2%;
    background-color: #E0E0E1;
    margin-bottom: 20%;
    padding: 2%;
    border-radius: 0px 0px 8px 8px;
}



.mycontentform{
    
    margin-top: -3%;
    background-color: #E0E0E1;
    margin-bottom: 20%;
    padding: 2% !important;
    border-radius: 0px 0px 8px 8px;
    text-align:left;
}
.mycontentformshow{
    
    margin-top: -3%;
    background-color:#777;
    margin-bottom: 20%;
    padding: 2% !important;
    border-radius: 0px 0px 8px 8px;
    text-align:left;
}

.flash-success{
    text-align:center;
    font-size:20px;
    color:black;
    text-shadow:1px 1px 1px gray;
    padding:0;
}

#admintistrationbtn{

}


#administration{
    position:absolute !important;
    z-index:999!important;
    right:4.5vw;
    width:90vw;
    top:3vw;
    border-radius:18px;
}
.tabdebord{
    position:absolute !important;
    z-index:999!important;
    right:4.5vw;
    width:90vw;
    top:3vw;
    border-radius:18px;
}

#closeadministration{
    background-color:rgba(205,51,51,1) !important;       
}

#showadministration{
    background-color:rgba(0,100,0,1) !important;       
}


.tableautitle{
    margin:10px;
    color:white;
    font-size:16px;
    text-align:center;
  
}
    
.tableautitlecontent {
    background-color:rgba(1,1,1,0.7); 
    height:50px;
    border-bottom:2px solid white;
    padding-top:15px !important;   
}

.mytbody{
    background-color:rgba(1,1,1,0.3);
}

.center{
    text-align:center;
}

.mytdtab{
    background-color:rgba(1,1,1,0.2);
    border-bottom:2px solid white;
}

.mytdtab2{
    background-color:rgba(255,255,255,0.2);
   border-bottom:2px solid white; 
}

.mydisplaynone{
    display:none;
}

.addtab{
    font-size:17px;
    float:right !important;
    padding-bottom:10px;
    margin-top:-15px; 
    margin-right:25px;
}

.myimg{
    height:120px;
    width:120px;
}


.mytdtabshow{
    background-color:rgba(1,1,1,0.2);
    border-bottom:2px solid white;
     text-align:center;
     padding:1%
}

.mytdtabshow2{
    background-color:rgba(255,255,255,0.2);
    border-bottom:2px solid white;
    text-align:center;
    padding:1%
}

.returnlist{
    float:right; 
    margin:2%;
    margin-top:-4%;
    
}

.myeditli{
    display:inline-block;
    margin:2%; 
    float:right;
}

.myeditinput{
    display:inline-block;
    margin:2%; 
    float:right;
    color:white; 
    background-color:#5BC0DE !important;
}

.mydeleteli{
    display:inline-block;
    margin:2%;
}

#fos_user_registration_form_roles{
    color:black;
}

.my_fos_user_registration_register{ 
    margin-top:-3%; 
    background-color:#E0E0E1; 
    margin-bottom:20%;
    padding:2%;
    border-radius:0px 0px 8px 8px ;
}

.myselect{
    z-index:999 !important;
    color:black;
}
.myselect>options{
     z-index:999 !important;
    color:black;
    height:50px;
}