{% extends "layout.html.twig" %}

{% block titre %}
    <h1 id="logo"><a class="bigtitle">Editer votre profil</a></h1>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
