{% trans_default_domain 'FOSUserBundle' %}
<div style="text-align:center; margin-top:3%">
    
  {% block soustitre %}  <h2 class="mysubtitle">Formulaire de modification du profil utilisateur</h2> {% endblock %}
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
    
</div>
