<!doctype html>
<html lang="fr">

<title>Freedemat Lancer's Projet Personnel Encadr&eacute BTS-SLAM</title>
<meta charset="UTF-8">

<style>
	a:hover{ color: #66A3D3; }
	a{ color:#123E6A; }
	body{
		background:white;
		 width:50%; 
		 margin-left:25%;
	}

</style>
</head>

<body style="color:#123E6A; text-align:center; font-family:arial">
<h2 style="margin-top:40px;">Plateforme de Projets de D&eacuteveloppements Informatiques en Ligne </h2>

	<img style="margin-top:10px; margin-left:0%; width:200px; height:200px; margin-bottom:10px;" src="logo.png" >
	<h2><u>CODES D'ACCES</u></h1)2>
	
	<h3><b>R&ocirc;le Administrateur</b></h3>
	<h4>IDENTIFIANT :	 admin</h4>
	<h4>MOT DE PASSE : 		7sQ@z931</h4>
	
	<br>
	
	<h3><b>R&ocirc;le Freelancer</b></h3>
	<h4>IDENTIFIANT :	melodie</h4>
	<h4>MOT DE PASSE : 		8w9cZr@8 </h4>
	<br>
	<h3><b>R&ocirc;le Soci&eacutet&eacute</b></h3>
	<h4>IDENTIFIANT :	robertWeb</h4>
	<h4>MOT DE PASSE : 		7u9rZr@3 </h4>
	

</body>
</html>
