<!doctype html>
<html lang="fr">

<title>Freedemat Lancer's Projet Personnel Encadr&eacute BTS-SLAM</title>
<meta charset="UTF-8">


<title>freedemat Projet Personnel Encadr&eacute BTS-SLAM</title>

<link rel="icon" type="image/png" href="logo.png" />

<style>
	a:hover{ color: #66A3D3; }
	a{ color:#123E6A; }
	body{
	background:white;
	 width:50%; 
	 margin-left:25%;
	 }
	 
	 a:link{
	 text-decoration:none;
	 }

</style>
</head>
<body style="color:#123E6A; text-align:center; font-family:arial">
<h2 style="margin-top:40px;">Plateforme de Projets de D&eacuteveloppements Informatiques en Ligne </h2>

	<img style="margin-top:20px; margin-left:0%; width:200px; height:200px; margin-bottom:20px;" src="logo.png" >
	<h1>DOCUMENTATIONS</h1><br>


<h4><a href="http://freedemat.websock.fr/documentation/docCdc.pdf">T&eacutel&eacutecharger le cahier des charges</a></h4>

<h4><a href="http://freedemat.websock.fr/documentation/docUtilisateur.pdf">T&eacutel&eacutecharger le Guide utilisateur destin&eacute aux employ&eacutes</a></h4>


<br>

<span><a href="http://freedemat.websock.fr/phpdoc">Cliquez ici pour voir la java doc ( documentation des classes du code )</a></span>

<h4><a href="https://github.com/PlanesZwalker/FreelancerSIO">Cliquez ici pour vous rendre sur le projet github de l'application</a></h4>

</body>
</html>
