{% extends "base.html.twig" %}

{% block titre %}
    <h1 id="logo"><a class="bigtitle">DOCUMENTATIONS    </a></h1>  
{% endblock %}

{% block body %}
    <div class="formulairetop">
        <h2 class="mysubtitle">Documentations du Projet Free Demat' Lancer's</h2>
        <div class="mycontentform" style="height:40vh;margin-left: 10%; width: 80%;">

          

         

            <div style=' float:left; margin-left:25vw;'>   
                <a href="{{ path('re_download', {'file': "DocumentationUtilisateurPPE.pdf" }) }}">
                    <h1><i class="fa fa-download fa-3x"></i></h1>
                </a>
                <p style="font-size:17px; margin-left:-3vw;">Documentation Utilisateur</p>  
            </div>

           


        </div>
    </div>
{% endblock %}

