{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Freelancer</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Ajouter un Freelancer</h2>
        <div class="mycontentform">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Enregistrer le profil" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('freelancer_index') }}">Retourner à la liste</a>
                </li>
            </ul>
        </div>
    </div>                   
{% endblock %}
