{% extends "layout.html.twig" %}

{% block title %}
    {% if statut is defined %}
        Formulaire de modification de {{ statut.getStatutStudent() }}
    {% else %}
        Formulaire d'ajout d'un statut
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <form class="form-horizontal" method="post" action="{{ path('addstatut') }}" style="margin-left:20px">
            <div class="box-body">
                {% if statut is defined %}
                    <div class="form-group">
                        <label for="#">Statut d'un étudiant<span style="color:red;">*</span></label>
                        {#Ajoute un statut étudiant#}
                        <input type="text" name="statut" value="{{ statut.getStatutStudent() }}" class="form-control" style="width: 10%; border-radius: 3px" id="#">
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="#">Statut d'un étudiant<span style="color:red;">*</span></label>
                        {#Ajoute un statut étudiant#}
                        <input type="text" name="statut" class="form-control" style="width: 10%; border-radius: 3px" id="#">
                </div>
                {% endif %}
                <small style="color:red;">*Champs obligatoire</small>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
            </div>
            {#Affiche un message d'ajout réussi#}
            {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success fade">
                    {{ success }}
                </div>
            {% endfor %}
        </form>
        <!-- /.box-footer -->
    </div>
{% endblock %}