{% extends "FOSUserBundle::layout.html.twig" %}
{% block style %}
    <style>
        #fos_user_registration_form_email,
        #fos_user_registration_form_username, 
        #fos_user_registration_form_plainPassword_first, 
        #fos_user_registration_form_plainPassword_second,
        #fos_user_registration_form_nom{
            margin-bottom:2%;
            margin-top:-2%;
            
            width:50%;
            background-attachment: scroll;
            background-clip: border-box;
            background-color: rgb(232, 232, 232);
            background-image: none;
            background-origin: padding-box;
            background-position: 0% 0%;
            background-position-x: 0%;
            background-position-y: 0%;
            background-repeat: repeat;
            background-size: auto auto;
            border-bottom-color: rgb(119, 119, 119);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-style: none;
            border-bottom-width: 0px;
            border-image-outset: 0 0 0 0;
            border-image-repeat: stretch stretch;
            border-image-slice: 100% 100% 100% 100%;
            border-image-source: none;
            border-image-width: 1 1 1 1;
            border-left-color: rgb(119, 119, 119);
            border-left-style: none;
            border-left-width: 0px;
            border-right-color: rgb(119, 119, 119);
            border-right-style: none;
            border-right-width: 0px;
            border-top-color: rgb(119, 119, 119);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-top-style: none;
            border-top-width: 0px;
            box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px 0px inset;
            box-sizing: border-box;
            color: rgb(119, 119, 119);
            display: block;
            font-family: "Source Sans Pro";
            font-feature-settings: normal;
            font-kerning: auto;
            font-language-override: normal;
            font-size: 16px;
            font-size-adjust: none;
            font-stretch: normal;
            font-style: normal;
            font-synthesis: weight style;
            font-variant: normal;
            font-variant-alternates: normal;
            font-variant-caps: normal;
            font-variant-east-asian: normal;
            font-variant-ligatures: normal;
            font-variant-numeric: normal;
            font-variant-position: normal;
            font-weight: 300;
            line-height: 28px;
            padding-bottom: 12px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 12px;
            text-align: start;
            transition-delay: 0s;
            transition-duration: 0.25s;
            transition-propertybackground-colortransition-timing-function: ease-in-out;
            width: 403.2px;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            -moz-text-size-adjust: none;
        }
        
     #fos_user_registration_form_email:focus , 
     #fos_user_registration_form_username:focus, 
     #fos_user_registration_form_plainPassword_first:focus,
     #fos_user_registration_form_plainPassword_second:focus,
     #fos_user_registration_form_nom:focus{
            margin-bottom:2%;
            margin-top:-2%;
            background-attachment: scroll;
            background-clip: border-box;
            background-color: rgb(240, 240, 240);
            background-image: none;
            background-origin: padding-box;
            background-position: 0% 0%;
            background-position-x: 0%;
            background-position-y: 0%;
            background-repeat: repeat;
            background-size: auto auto;
            border-bottom-color: rgb(119, 119, 119);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-style: none;
            border-bottom-width: 0px;
            border-image-outset: 0 0 0 0;
            border-image-repeat: stretch stretch;
            border-image-slice: 100% 100% 100% 100%;
            border-image-source: none;
            border-image-width: 1 1 1 1;
            border-left-color: rgb(119, 119, 119);
            border-left-style: none;
            border-left-width: 0px;
            border-right-color: rgb(119, 119, 119);
            border-right-style: none;
            border-right-width: 0px;
            border-top-color: rgb(119, 119, 119);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-top-style: none;
            border-top-width: 0px;
            box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px 0px inset;
            box-sizing: border-box;
            color: rgb(119, 119, 119);
            display: block;
            font-family: "Source Sans Pro";
            font-feature-settings: normal;
            font-kerning: auto;
            font-language-override: normal;
            font-size: 16px;
            font-size-adjust: none;
            font-stretch: normal;
            font-style: normal;
            font-synthesis: weight style;
            font-variant: normal;
            font-variant-alternates: normal;
            font-variant-caps: normal;
            font-variant-east-asian: normal;
            font-variant-ligatures: normal;
            font-variant-numeric: normal;
            font-variant-position: normal;
            font-weight: 300;
            line-height: 28px;
            padding-bottom: 12px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 12px;
            text-align: start;
            transition-delay: 0s;
            transition-duration: 0.25s;
            transition-propertybackground-colortransition-timing-function: ease-in-out;
            width: 403.2px;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            -moz-text-size-adjust: none;

        }
        
    </style>
{% endblock %}

{% block titre %}
    <h1 id="logo"><a href="{{ path('front') }}" style="color:#333">Créer votre compte</a></h1> 
{% endblock %}


{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
