{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Messages</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Ajouter un Message</h2>
        <div class="mycontentform">           
            <ul>
                <li class="returnlist">
                    <a data-ajax="false" class="btn btn-default" href="{{ path('message_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Envoyer" />
            {{ form_end(form) }}

                   </div>
    </div>
{% endblock %}
