{% extends "FOSUserBundle::layout.html.twig" %}

{% block titre %}
    <h1 id="logo"><a class="bigtitle">Changement de mot de passe</a></h1>
{% endblock %}
 

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock fos_user_content %}
