{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Projets</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h1 class="mysubtitle">Liste des Projets</h1>
        <div class="mycontentform">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('projet_index') }}">Retourner à la liste</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
