

.indexDiv{
    width:310px ;
    height:auto;
    background:#F9F9F9;
    border-radius:8px;
    padding:10px;
    margin:10px;
    display:inline-block;
    box-shadow:1px 2px #005384;
}

.rightDiv{

    margin-left:40px;
}

.accesAdmin{

    visibility:hidden;
    display:none;
}

.accesAdmin{

    visibility:hidden;
    display:none;
}

.btnAdmin{

    width:250px;
}

.mytd{
   text-align: center;
   border: 1px solid darkgrey;
    width: 80px;
    word-wrap: break-word;
    font-size:13px;
    overflow: hidden;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
.mytdmin{
   text-align: center;
   border: 1px solid darkgrey;
    width: 50px;
    word-wrap: break-word;
    font-size:13px;
    overflow: hidden;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
.mytdminus{
   text-align: center;
      border: 1px solid darkgrey;
    width: 25px;
    word-wrap: break-word;
    font-size:13px;
    overflow: hidden;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.ui-datepicker {

   margin:5px;


}

/* **********************************/
/* Animation des messages de succes */
/* **********************************/
.myfade {
    opacity: 1;
    margin: 10px;
    width:99%;
    background-color: red;
}



.myfade.in {
    opacity: 1;
    margin-top: 10px;
    -webkit-transition: opacity 0.95s linear;
    -moz-transition: opacity 0.95s linear;
    -o-transition: opacity 0.95s linear;
    transition: opacity 0.95s linear;
    background-color: red;
}



.myfade.out {

    opacity: 0.9;
    display: none;
    -webkit-transition-timing-function: linear;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s, 1s;
     background-color: red;
}

/* *************************************
/*                Toutes les pages
/****************************************/

.mynewtitle{

    .background-color:#fff; border-radius:8px; padding:2px;float:right;
}


/* *************************************
/*                  LAYOUT
/****************************************/

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #605ca8;
}

.dropdown{
    background-color: #605ca8;
}
.dropdown:hover{
    background-color:  #001a35;
}

.skin-blue .sidebar-menu > li:hover > a{

    background-color: #605ca8;
    border-radius: 12px;
    text-shadow:1px 2px 2px black;
    font-weight:900;

}

.skin-blue .treeview-menu > li > a{
    border-radius: 10px;
    background-color: black;

}

.skin-blue .sidebar-menu > li > .treeview-menu{
    border-radius: 10px;
    background-color: #001a35;
}

.content-wrapper{
    background-color: #F6F6F6;
}

.skin-blue .main-header .navbar{
    background-color: #001a35;
}

.skin-blue .main-sidebar
{
    background-color: #001a35;
}

.skin-blue .main-header .navbar .nav > li > a:hover{
    background-color: #605ca8;
    border-radius: 15px;

}

.skin-blue .main-header .logo{
    background-color: #001a35;

}

.skin-blue .main-header .logo:hover{
    background-color: #605ca8;
    border-radius: 20px;
}


/* *************************************
/*                  LOGIN
/****************************************/

.login-page{
    background-color: #FFF;
}


.login-box-body{
    background-color: lightskyblue;
    border-radius: 20px;
}



/* **********************************/
/*          GRAPHIQUE des STATS 3D      */
/* **********************************/
#container1, #sliders {
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
#container1 {
    height: 400px;
}

#container2 {
    height: 400px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

/* **********************************/
/*   GRAPHIQUE des STATS 2D     */
/* **********************************/
#trellis td {
    width: 200px;
    height: 200px;
}
#trellis td.first {
    width: 300px;
}

.box80{
    width:80%;
}
.box50{
    width:50%;
    display:inline-table;
    margin:2%;
}

.box40{
    width:40%;
    display:inline-table;
    margin:2%;
}


/* **********************************/
/*   GRAPHIQUE des STATS 2D chart.js  */
/* *********************************

html.wf-proximanova-n4-active.wf-proximanova-n6-active.wf-sourcecodepro-n4-active.wf-sourcecodepro-n7-active.wf-active
body.open-menu section.docs-container
article#bar-chart
div.canvas-holder
canvas

*/