{% extends "layout.html.twig" %}

{% block titre %}
    {% if is_granted("ROLE_USER") %}
        <h1 id="logo"><a href="/" class="bigtitle">Bienvenue {{ app.user.username }}</a></h1>  
    {% else %}
        <h1 id="logo"><a href="/" class="bigtitle">Utilisateur déconnecté</a></h1>  
    {% endif %}
{% endblock %}


{% block body %} 
    <div class="formulairetop">
    {% if is_granted("ROLE_USER") %}
          <h2 id="logo" class=" mysubtitle inputformtop">Espace Personnel / TABLEAU DE BORD Freelancer</h2>  
    {% else %}
          <h2 id="logo" class="mysubtitle inputformtop">Espace réservé aux Freelancer</h2>  
    {% endif %}
    </div>
        
{% endblock %}



