

<div class="freebirdFormviewerViewFormBanner freebirdHeaderMast"></div>
<div class="freebirdFormviewerViewCenteredContent">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSdLlogkl7zvTyKSXos3itoztS3NR0PcVo1aiFG5Tm2sKv7D8Q/formResponse?embedded=true" target="_self" method="POST" id="mG61Hd">
        <div class="freebirdFormviewerViewFormCard">
            <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
            <div class="freebirdFormviewerViewFormContent ">
                <div class="freebirdFormviewerViewHeaderHeader">
                    <div class="freebirdFormviewerViewHeaderTitleRow">
                        <div class="freebirdFormviewerViewHeaderTitle" dir="auto" role="heading" aria-level="1">TEST ( PHP )</div>
                    </div>
                    <div class="freebirdFormviewerViewHeaderDescription" dir="auto">Afin de valider la compétence associée au langage php veuillez renseigner ce questionnaire</div>
                    <div class="freebirdFormviewerViewHeaderRequiredLegend" aria-hidden="true" dir="auto">*Obligatoire</div>
                </div>
                <div class="freebirdFormviewerViewItemList" role="list">
                    <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="pkFYWb" jsaction="sPvj8e:F0ZU4;" data-required="true" data-other-input="qSV85" data-other-hidden="MfYA1e" data-item-id="1626049805">
                        <div class="freebirdFormviewerViewItemsItemItemHeader">
                            <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" id="i1" role="heading" aria-level="2" aria-describedby="i.desc.1626049805 i2">En php quel mot cle sert à afficher une variable? <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span></div>
                                <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1626049805" dir="auto"></div>
                            </div>
                            <div class="freebirdFormviewerViewItemsItemScore freebirdFormviewerViewItemsItemHint" id="i2" role="note" aria-label="Nombre maximal de points pour cette question.">1&nbsp;point</div>
                        </div>
                        <div jscontroller="eFy6Rc" jsaction="sPvj8e:Gh295d" jsname="cnAzRb" data-input="L9xHkb">
                            <div jscontroller="wPRNsd" jsshadow="" jsaction="keydown: I481le;JIbuQc:JIbuQc;rcuQ6b:rcuQ6b" jsname="wCJL8" aria-labelledby="i1" aria-describedby="i.desc.1626049805 i.err.1626049805" aria-required="true" role="radiogroup">
                                <content role="presentation" jsname="bN97Pc">
                                    <div class="">
                                        <label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsRadioChoice">
                                            <div class="exportLabelWrapper">
                                                <div class="quantumWizTogglePaperradioEl docssharedWizToggleLabeledControl freebirdThemedRadio freebirdThemedRadioDarkerDisabled freebirdFormviewerViewItemsRadioControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef" jsshadow="" aria-label="spit" tabindex="0" data-value="spit" aria-describedby="  i4" role="radio" aria-checked="false" aria-posinset="1" aria-setsize="3">
                                                    <div class="quantumWizTogglePaperradioInk exportInk"></div>
                                                    <div class="quantumWizTogglePaperradioInnerBox"></div>
                                                    <div class="quantumWizTogglePaperradioRadioContainer">
                                                        <div class="quantumWizTogglePaperradioOffRadio exportOuterCircle">
                                                            <div class="quantumWizTogglePaperradioOnRadio exportInnerCircle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="docssharedWizToggleLabeledContent">
                                                    <div class="docssharedWizToggleLabeledPrimaryText"><span dir="auto" class="docssharedWizToggleLabeledLabelText exportLabel freebirdFormviewerViewItemsRadioLabel">spit</span></div>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsRadioChoice">
                                            <div class="exportLabelWrapper">
                                                <div class="quantumWizTogglePaperradioEl docssharedWizToggleLabeledControl freebirdThemedRadio freebirdThemedRadioDarkerDisabled freebirdFormviewerViewItemsRadioControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef" jsshadow="" aria-label="echo" tabindex="-1" data-value="echo" aria-describedby="  i7" role="radio" aria-checked="false" aria-posinset="2" aria-setsize="3">
                                                    <div class="quantumWizTogglePaperradioInk exportInk"></div>
                                                    <div class="quantumWizTogglePaperradioInnerBox"></div>
                                                    <div class="quantumWizTogglePaperradioRadioContainer">
                                                        <div class="quantumWizTogglePaperradioOffRadio exportOuterCircle">
                                                            <div class="quantumWizTogglePaperradioOnRadio exportInnerCircle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="docssharedWizToggleLabeledContent">
                                                    <div class="docssharedWizToggleLabeledPrimaryText"><span dir="auto" class="docssharedWizToggleLabeledLabelText exportLabel freebirdFormviewerViewItemsRadioLabel">echo</span></div>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsRadioChoice">
                                            <div class="exportLabelWrapper">
                                                <div class="quantumWizTogglePaperradioEl docssharedWizToggleLabeledControl freebirdThemedRadio freebirdThemedRadioDarkerDisabled freebirdFormviewerViewItemsRadioControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef" jsshadow="" aria-label="dump" tabindex="0" data-value="dump" aria-describedby="  i10" role="radio" aria-checked="false" aria-posinset="3" aria-setsize="3">
                                                    <div class="quantumWizTogglePaperradioInk exportInk"></div>
                                                    <div class="quantumWizTogglePaperradioInnerBox"></div>
                                                    <div class="quantumWizTogglePaperradioRadioContainer">
                                                        <div class="quantumWizTogglePaperradioOffRadio exportOuterCircle">
                                                            <div class="quantumWizTogglePaperradioOnRadio exportInnerCircle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="docssharedWizToggleLabeledContent">
                                                    <div class="docssharedWizToggleLabeledPrimaryText"><span dir="auto" class="docssharedWizToggleLabeledLabelText exportLabel freebirdFormviewerViewItemsRadioLabel">dump</span></div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </content>
                            </div>
                            <input name="entry.1479026371" jsname="L9xHkb" disabled="" type="hidden">
                        </div>
                        <div class="freebirdFormviewerViewItemsItemGradingBox freebirdFormviewerViewItemsItemFeedbackBox" jsname="R7fTud"></div>
                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1626049805" role="alert"></div>
                    </div>
                    <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="pkFYWb" jsaction="sPvj8e:F0ZU4;" data-required="true" data-other-input="qSV85" data-other-hidden="MfYA1e" data-item-id="558662655">
                        <div class="freebirdFormviewerViewItemsItemItemHeader">
                            <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" id="i13" role="heading" aria-level="2" aria-describedby="i.desc.558662655 i14">Quel mot clé sert à écrire dans un fichier <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span></div>
                                <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.558662655" dir="auto"></div>
                            </div>
                            <div class="freebirdFormviewerViewItemsItemScore freebirdFormviewerViewItemsItemHint" id="i14" role="note" aria-label="Nombre maximal de points pour cette question.">1&nbsp;point</div>
                        </div>
                        <div jscontroller="eFy6Rc" jsaction="sPvj8e:Gh295d" jsname="cnAzRb" data-input="L9xHkb">
                            <div jscontroller="wPRNsd" jsshadow="" jsaction="keydown: I481le;JIbuQc:JIbuQc;rcuQ6b:rcuQ6b" jsname="wCJL8" aria-labelledby="i13" aria-describedby="i.desc.558662655 i.err.558662655" aria-required="true" role="radiogroup">
                                <content role="presentation" jsname="bN97Pc">
                                    <div class="">
                                        <label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsRadioChoice">
                                            <div class="exportLabelWrapper">
                                                <div class="quantumWizTogglePaperradioEl docssharedWizToggleLabeledControl freebirdThemedRadio freebirdThemedRadioDarkerDisabled freebirdFormviewerViewItemsRadioControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef" jsshadow="" aria-label="fopen" tabindex="0" data-value="fopen" aria-describedby="  i16" role="radio" aria-checked="false" aria-posinset="1" aria-setsize="3">
                                                    <div class="quantumWizTogglePaperradioInk exportInk"></div>
                                                    <div class="quantumWizTogglePaperradioInnerBox"></div>
                                                    <div class="quantumWizTogglePaperradioRadioContainer">
                                                        <div class="quantumWizTogglePaperradioOffRadio exportOuterCircle">
                                                            <div class="quantumWizTogglePaperradioOnRadio exportInnerCircle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="docssharedWizToggleLabeledContent">
                                                    <div class="docssharedWizToggleLabeledPrimaryText"><span dir="auto" class="docssharedWizToggleLabeledLabelText exportLabel freebirdFormviewerViewItemsRadioLabel">fopen</span></div>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsRadioChoice">
                                            <div class="exportLabelWrapper">
                                                <div class="quantumWizTogglePaperradioEl docssharedWizToggleLabeledControl freebirdThemedRadio freebirdThemedRadioDarkerDisabled freebirdFormviewerViewItemsRadioControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef" jsshadow="" aria-label="fprint" tabindex="-1" data-value="fprint" aria-describedby="  i19" role="radio" aria-checked="false" aria-posinset="2" aria-setsize="3">
                                                    <div class="quantumWizTogglePaperradioInk exportInk"></div>
                                                    <div class="quantumWizTogglePaperradioInnerBox"></div>
                                                    <div class="quantumWizTogglePaperradioRadioContainer">
                                                        <div class="quantumWizTogglePaperradioOffRadio exportOuterCircle">
                                                            <div class="quantumWizTogglePaperradioOnRadio exportInnerCircle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="docssharedWizToggleLabeledContent">
                                                    <div class="docssharedWizToggleLabeledPrimaryText"><span dir="auto" class="docssharedWizToggleLabeledLabelText exportLabel freebirdFormviewerViewItemsRadioLabel">fprint</span></div>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsRadioChoice">
                                            <div class="exportLabelWrapper">
                                                <div class="quantumWizTogglePaperradioEl docssharedWizToggleLabeledControl freebirdThemedRadio freebirdThemedRadioDarkerDisabled freebirdFormviewerViewItemsRadioControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef" jsshadow="" aria-label="fclose" tabindex="0" data-value="fclose" aria-describedby="  i22" role="radio" aria-checked="false" aria-posinset="3" aria-setsize="3">
                                                    <div class="quantumWizTogglePaperradioInk exportInk"></div>
                                                    <div class="quantumWizTogglePaperradioInnerBox"></div>
                                                    <div class="quantumWizTogglePaperradioRadioContainer">
                                                        <div class="quantumWizTogglePaperradioOffRadio exportOuterCircle">
                                                            <div class="quantumWizTogglePaperradioOnRadio exportInnerCircle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="docssharedWizToggleLabeledContent">
                                                    <div class="docssharedWizToggleLabeledPrimaryText"><span dir="auto" class="docssharedWizToggleLabeledLabelText exportLabel freebirdFormviewerViewItemsRadioLabel">fclose</span></div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </content>
                            </div>
                            <input name="entry.676267237" jsname="L9xHkb" disabled="" type="hidden">
                        </div>
                        <div class="freebirdFormviewerViewItemsItemGradingBox freebirdFormviewerViewItemsItemFeedbackBox" jsname="R7fTud"></div>
                        <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.558662655" role="alert"></div>
                    </div>
                    <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="RGrRJf" data-item-id="1144126825">
                        <div class="freebirdFormviewerViewItemsItemItemHeader">
                            <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Question sur le langage php</div>
                            </div>
                        </div>
                        <div class="freebirdFormviewerViewItemsEmbeddedobjectLeft">
                            <div class="freebirdFormviewerViewItemsEmbeddedobjectImageWrapper" style="width: 130px; "><img src="https://lh4.googleusercontent.com/6h6JYAUnv8mOHqcKrAHjqQKYP3pKtCKB9DEYL9HCn84DxHKocmpJOytjvGjenjDr1mnU8ykVMQ=w130" class="freebirdFormviewerViewItemsEmbeddedobjectImage" style="width: 130px; " title="" alt=""></div>
                        </div>
                        <div class="freebirdFormviewerViewItemsItemGradingBox freebirdFormviewerViewItemsItemFeedbackBox" jsname="R7fTud"></div>
                    </div>
                </div>
                <div class="freebirdFormviewerViewNavigationNavControls" jscontroller="lSvzH" jsaction="rcuQ6b:npT2md;JIbuQc:V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe)" data-shuffle-seed="7669498475868461303">
                    <div class="freebirdFormviewerViewNavigationButtonsAndProgress">
                        <div class="freebirdFormviewerViewNavigationButtons">
                            <div role="button" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton" jscontroller="VXdfxd" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;" jsshadow="" jsname="M2UYVd" aria-disabled="false" tabindex="0">
                                <div class="quantumWizButtonPaperbuttonRipple exportInk" jsname="ksKsZd"></div>
                                <div class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay"></div>
                                <content class="quantumWizButtonPaperbuttonContent"><span class="quantumWizButtonPaperbuttonLabel exportLabel">Envoyer</span></content>
                            </div>
                        </div>
                        <div class="freebirdFormviewerViewNavigationProgress">
                            <div class="freebirdFormviewerViewNavigationProgressIndicator" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-labelledby="lpd4pf" role="progressbar">
                                <div class="freebirdFormviewerViewNavigationProgressIndicatorFill done" style="width:100%"></div>
                            </div>
                            <div id="lpd4pf" class="freebirdFormviewerViewNavigationPercentComplete" aria-hidden="true">Page 1 sur 1</div>
                        </div>
                    </div>
                </div>
                <input name="fvv" value="1" type="hidden">
                <input name="draftResponse" value="[null,null,&quot;7669498475868461303&quot;]
" type="hidden">
                <input name="pageHistory" value="0" type="hidden">
                <input name="fbzx" value="7669498475868461303" type="hidden">
            </div>
        </div>
    </form>
    <div>
        <div class="freebirdFormviewerViewFooterDisclaimer freebirdFormviewerViewFooterNoTextDecoration freebirdDisclaimerColor">Ce contenu n'est ni rédigé, ni cautionné par Google. <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLlogkl7zvTyKSXos3itoztS3NR0PcVo1aiFG5Tm2sKv7D8Q/reportabuse?source=https://docs.google.com/forms/d/e/1FAIpQLSdLlogkl7zvTyKSXos3itoztS3NR0PcVo1aiFG5Tm2sKv7D8Q/viewform?embedded%3Dtrue">Signaler un cas d'utilisation abusive</a> - <a href="http://www.google.com/accounts/TOS">Conditions d'utilisation</a> - <a href="http://www.google.com/google-d-s/terms.html">Clauses additionnelles</a></div>
        <div class="freebirdFormviewerViewFooterImageContainer freebirdFormviewerViewFooterPageBreak">
            <a href="//www.google.com/forms/about/?utm_source=product&amp;utm_medium=forms_logo&amp;utm_campaign=forms"><img src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg" alt="Google" height="24px" width="74px">&nbsp;<span class="freebirdCommonViewProductnameLockupText">Forms</span></a>
        </div>
    </div>
</div>