{% extends "layout.html.twig" %}

{% block css %}
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/themes/AdminLTE/dist/img/iconsite.png" />
{% endblock %}

{% block javascript %}

{% endblock %}

{% block title %}
    <span class="mynewtitle">Mon Profil</span>
{% endblock %}

{% block content %}

{% endblock %}