{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Cahier des Charges</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Ajouter un Cahier des Charges</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <ul>
                        <li>
                            <a  class="btn btn-success" href="{{ path('cahierdescharges_index') }}">Retourner à la liste</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="mycontentform">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="myeditinput" value="Enregitrer le cahier des charges" />
                {{ form_end(form) }}


            </div>
        </div>      
    </div>
{% endblock %}
