{% extends "layout.html.twig" %}

{% block titre %}

        <h1 id="logo"><a class="bigtitle">Edition du profil / {{ app.user.username }}</a></h1>  

{% endblock %}


{% block body %} 
    {% if is_granted("ROLE_USER") %}
          <h1 id="logo" class="container mysubtitle" >Profil Professionnel / TABLEAU DE BORD Freelancer</h1>  
    {% else %}
          <h1 id="logo" class="container mysubtitle" >>Espace réservé aux Freelancer</h1>  
    {% endif %}
        
{% endblock %}



