{% extends "layout.html.twig" %}

{% block titre %}
    {% if is_granted("ROLE_USER") %}
        <h1 id="logo"><a href="/" class="bigtitle">Bienvenue {{ app.user.username }}</a></h1>  
    {% else %}
        <h1 id="logo"><a href="/" class="bigtitle">Utilisateur déconnecté</a></h1>  
    {% endif %}
{% endblock %}


{% block body %} 
    {% if is_granted("ROLE_USER") %}
          <h1 id="logo" class="container mysubtitle">Espace Personnel / TABLEAU DE BORD Freelancer</h1>  
    {% else %}
          <h1 id="logo" class="container mysubtitle">Espace réservé aux Freelancer</h1>  
    {% endif %}
        
{% endblock %}



