{% extends "layout.html.twig" %}

{% block titre %}
    {% if is_granted("ROLE_USER") %}
        <h1 id="logo"><a href="/" style="color:#21D8DE;">Bienvenue {{ app.user.username }}</a></h1>  
    {% else %}
        <h1 id="logo"><a href="/" style="color:#21D8DE;">Utilisateur déconnecté</a></h1>  
    {% endif %}
{% endblock %}


{% block body %} 
    {% if is_granted("ROLE_USER") %}
          <h1 id="logo" class="container" style="text-align:center; font-size:32px; margin-top:5%;"><a  style="color:#21D8DE;">Espace Personnel / TABLEAU DE BORD Freelancer</a></h1>  
    {% else %}
          <h1 id="logo" class="container" style="text-align:center; font-size:32px; margin-top:5%;"><a  style="color:#21D8DE;">Espace réservé aux Freelancer</a></h1>  
    {% endif %}
        
{% endblock %}



