{% extends '::base.html.twig' %}
{% block body %}

		<div id="page-wrapper">
			
			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="inner">
						<section id="banner" class="container">
							<p>Use this space for <strong>profound thoughts</strong>.<br />
							Or an enormous ad. Whatever.</p>
						</section>
					</div>
				</div>

		</div>
      
{% endblock %}

{% block javascripts %}
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-viewport.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
{% endblock %}